.avatar-room {
   height: 60px;
   width: 60px;
   float: left;
}

.room-list_list_group {
   max-height: 100vh;
   overflow-y: auto !important;
   width: 100%;
}

.room-details {
   height: 60px;
   margin-top: 6px;
}

.room-details_left {
   width: 300px;
   float: left;
   margin-left: 8px;
}

.room-details_right {
   width: 50px;
   float: right;
}

.pageHolder {
   overflow: auto;
   width: 100%;
}

.room-details_left>span {
   float: left;
   clear: left;
}

.room-details_right>span {
   float: right;
   clear: right;
   margin-top: 6px;
}