.display {
   display: inline-block;
}

.user-navbar {
   border-bottom: 1px solid lightgray;
}

.avatar {
   width: 60px;
   height: 60px;
}

.username {
   margin-left: 8px;
}

.create-room_img {
   width: 35px;
   height: 35px;
}

.create-room_button {
   width: 35px;
   height: 35px;
   background: url('https://image.flaticon.com/icons/svg/149/149171.svg');
   margin-right: 16px;
}